@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: #b0fffa;
}

.dnuyiha {
  position: absolute;
  /* inset: 0; */
  top: 0;
  right: 0 !important;
  /* background-color: black; */
  height: max-content;
  width: max-content;
  margin: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dnuyiha a {
  padding: 0.3rem 1rem;
  background-color: rgb(215, 0, 0);
  border-radius: 5px;
  font-weight: 900;
  text-decoration: none;
  color: #d4d4d4;
}

.main-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}

.container-konten {
  width: 20rem;
  height: 100dvh !important;
}

.tambah-transaksi {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  background-color: rgb(47, 47, 251);
  width: max-content;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}
.tambah-transaksi a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: rgb(205, 205, 205);
}
.tambah-transaksi a span:first-child {
  display: inline-flex;
  height: 2rem;
  aspect-ratio: 1/1;
  /* background-color: red; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../asset/icon/add.svg);
}
