body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  background-color: #b0fffa;
}

.card {
  background-color: #84e8e2;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: 0.3s;
}

input:focus,
select:focus {
  border-color: #2962ff;
  outline: none;
  background-color: #fff;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.btn-save {
  background-color: #2962ff;
}
.btn-save:hover {
  background-color: #0039cb;
}

.btn-cancel {
  background-color: #ff1744;
}
.btn-cancel:hover {
  background-color: #d50000;
}
