.container-table {
  width: 100%;
  background-color: #ffecec;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container-table table {
  width: 100%;
  font-weight: 700;
  color: rgb(58, 58, 58);
  border-collapse: collapse;
  border-spacing: 0;
}
.adiedja td {
  padding: 1rem 0;
  background-color: #ffffff;
}
.adiedja td:nth-child(1) {
  padding: 0 0 0 0.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.adiedja td:last-child {
  padding: 0 0 0 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-transaksi td:first-child {
  padding: 0 0 0 0.5rem;
}
.table-transaksi td {
  padding: 0.4rem 0;
}

.adnieg {
  display: flex;
  gap: 1rem;
}

.adnieg a:nth-child(1) {
  background-color: rgb(47, 47, 251);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
.adnieg a:nth-child(2) {
  background-color: rgb(251, 47, 47);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.adnieg a:nth-child(1) span:first-child {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../../asset/icon/edit.svg);
}
.adnieg a:nth-child(2) span:first-child {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../../asset/icon/delete.svg);
}
.adnieg a:nth-child(1) span:last-child {
  color: rgb(205, 205, 205);
}
.adnieg a:nth-child(2) span:last-child {
  color: rgb(205, 205, 205);
}

.link-aksi {
  color: rgb(58, 58, 58);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link-aksi span:nth-child(1) {
  display: inline-flex;
  height: 2rem;
  aspect-ratio: 1/1;
  /* background-color: red; */
}
