body {
  background-color: #b0fffa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  background-color: #84e8e2;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f9f9f9;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

/* Tombol Update (Biru) */
.btn-update {
  background-color: #2962ff;
}
.btn-update:hover {
  background-color: #0039cb;
}

/* Tombol Batal (Merah) */
.btn-cancel {
  background-color: #ff1744;
}
.btn-cancel:hover {
  background-color: #d50000;
}
